.cart-img {
  width: 38px;
  height: auto;
  object-fit: cover;
}

input[type="number"] {
  width: 45px;
  text-align: start;
}

input[type="button"] {
  align-self: flex-end;
}

.order-total {
  align-self: flex-end;
}

.cart-table,
.summary {
  justify-content: space-between;
  flex: 1 0 auto;
}
