.product-card {
  flex: 1 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.product-card img {
  /* width: 100%; */
  /* overflow: hidden; */
  max-height: 300px;
  object-fit: contain;
}

.btns {
  display: flex;
  justify-content: space-around;
  flex: 0 1 auto;
}

.filters {
  display: flex;
  flex: 1 0 auto;
}

.pagination {
  align-self: flex-end;
}

img:hover {
  cursor: pointer;
}
