<!DOCTYPE html>
<html>
  <head>
    <title>Tech Corporate - Free PSD Website Template</title>
    <link href="style.css" rel="stylesheet" />
    <body>
      <div class="container">
        <nav>
          <button>HOME</button>
          <button>ABOUT US</button>
          <button>CONTACT</button>
          <button>COMPANY</button>
          <button>SERVICES</button>
        </nav>
        <header>
          <p class="title">TechCorporate</p>
          <div class="separator"></div>
          <p class="subtitle">Free PSD Website Template</p>
          <div class="wrapper">
            <p class="tel">Tel: xxxxx xxxxxxxxxx</p>
            <p class="email">info@domain.com</p>
          </div>
        </header>
        <article>
          <div class="image"></div>
          <div class="img-text">
            <p class="img-text-title">Laoremhabitur et phasellent wisi</p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit quos
            aut iusto excepturi aspernatur modi sunt omnis, est dicta incidunt
            repellat enim quidem. Incidunt amet autem at alias totam ea! Rem vel
            voluptates iusto, ipsam eos tempora.
          </div>
          <div class="img-button">Today's Technology >></div>
          <section class="trio-section">
            <div class="trio-box">
              <p>Indonectetus facilis leo nibh</p>
              <div class="trio-pannel-240x90">240 X 90 px</div>
              <p class="trio-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel
                voluptates iusto, ipsam eos tempora consequatur fugiat ab
                quibusdam perferendis laudantium voluptatibus aliquid
                reprehenderit doloribus delectus praesentium nisi expedita
                excepturi.
              </p>
              <a href="#">Read more >></a>
            </div>
            <div class="trio-box">
              <p>Indonectetus facilis leo nibh</p>
              <div class="trio-pannel-240x90">240 X 90 px</div>
              <p class="trio-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel
                voluptates iusto, ipsam eos tempora consequatur fugiat ab
                quibusdam perferendis laudantium voluptatibus aliquid
                reprehenderit doloribus delectus praesentium nisi expedita
                excepturi.
              </p>
              <a href="#">Read more >></a>
            </div>
            <div class="trio-box">
              <p>Indonectetus facilis leo nibh</p>
              <div class="trio-pannel-240x90">240 X 90 px</div>
              <p class="trio-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel
                voluptates iusto, ipsam eos tempora consequatur fugiat ab
                quibusdam perferendis laudantium voluptatibus aliquid
                reprehenderit doloribus delectus praesentium nisi expedita
                excepturi.
              </p>
              <a href="#">Read more >></a>
            </div>
          </section>
          <section class="categories-section">
            <div class="border-wrapper">
              <div class="pannel-200x160">200 X 160 px</div>
              <div class="reading-material">
                <p>Indonectetus facilis leo nibh</p>
                <p>
                  Morbitincidunt maurisque eros molest nuncantegetsed ve Jacus
                  mus semper, anterdumnu am interdum eros du urna consequam ac
                  nil nullem liqula vestassa. Condimentumfells et amet tellent
                  qusquet a eo acus nec auque accumsan. Sagittislaorem dolor
                  iosum at urna et pharetium malesuada nis consectus odio.
                  Auguequis quis egestibus urmaretium eu.
                </p>
                <a href="#">Cotninue Reading >></a>
              </div>
            </div>
            <div class="categories">
              <p>Categories</p>
              <ul>
                <li><a href="#">Link Text Goes Here</a></li>
                <li><a href="#">Link Text Goes Here</a></li>
                <li><a href="#">Link Text Goes Here</a></li>
                <li><a href="#">Link Text Goes Here</a></li>
                <li><a href="#">Link Text Goes Here</a></li>
              </ul>
            </div>
          </section>
          <section class="five-pannels">
            <div class="pannel-174x100">174 X 100px</div>
            <div class="pannel-174x100">174 X 100px</div>
            <div class="pannel-174x100">174 X 100px</div>
            <div class="pannel-174x100">174 X 100px</div>
            <div class="pannel-174x100">174 X 100px</div>
          </section>
        </article>
        <footer>
          <p>Copyright © 2009 Domain Name - All Rights Reserved</p>
          <p>Temmlate by OS Templates</p>
        </footer>
      </div>
    </body>
  </head>
</html>
